/* line 3, ../sass/menu.sass */
.secondary-menu {
  margin: 1em 2%;
  max-width: 175px;
  width: 20%; }
  /* line 8, ../sass/menu.sass */
  .secondary-menu ul {
    margin: 0;
    list-style: none; }
  /* line 12, ../sass/menu.sass */
  .secondary-menu > ul > li {
    margin: 0 0 17px 0;
    padding: 0;
    position: relative; }
    /* line 17, ../sass/menu.sass */
    .secondary-menu > ul > li::before {
      background: url(../images/sprite-secondary-menu.png);
      background-position: -30px 0;
      content: "";
      height: 30px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 30px; }
    /* line 28, ../sass/menu.sass */
    .secondary-menu > ul > li:hover::before, .secondary-menu > ul > li.active::before {
      background-position: 0 0; }
    /* line 33, ../sass/menu.sass */
    .secondary-menu > ul > li.groups::before {
      background-position: -30px -30px; }
    /* line 35, ../sass/menu.sass */
    .secondary-menu > ul > li.groups:hover::before, .secondary-menu > ul > li.groups.active::before {
      background-position: 0 -30px; }
    /* line 40, ../sass/menu.sass */
    .secondary-menu > ul > li.requests::before {
      background-position: -30px -60px; }
    /* line 42, ../sass/menu.sass */
    .secondary-menu > ul > li.requests:hover::before, .secondary-menu > ul > li.requests.active::before {
      background-position: 0 -60px; }
    /* line 47, ../sass/menu.sass */
    .secondary-menu > ul > li.stats::before {
      background-position: -30px -90px; }
    /* line 49, ../sass/menu.sass */
    .secondary-menu > ul > li.stats:hover::before, .secondary-menu > ul > li.stats.active::before {
      background-position: 0 -90px; }
    /* line 54, ../sass/menu.sass */
    .secondary-menu > ul > li.profile::before {
      background-position: -30px -120px; }
    /* line 56, ../sass/menu.sass */
    .secondary-menu > ul > li.profile:hover::before, .secondary-menu > ul > li.profile.active::before {
      background-position: 0 -120px; }
  /* line 60, ../sass/menu.sass */
  .secondary-menu a {
    color: #7f7f7f;
    display: block;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 0.06em;
    padding: 4px 0 4px 40px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    /* line 69, ../sass/menu.sass */
    .secondary-menu a:hover {
      color: #0173bc;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
  /* line 73, ../sass/menu.sass */
  .secondary-menu .active > a {
    color: #0173bc; }
  /* line 77, ../sass/menu.sass */
  .secondary-menu ul ul li {
    padding: 0; }
  /* line 80, ../sass/menu.sass */
  .secondary-menu ul ul a {
    color: #626262;
    font-size: 14px;
    padding: 4px 0 0 40px; }
