@font-face {
  font-family: "vagrundschriftdligregular";
  src: url("../font/vagrundschriftd-lig-webfont.eot");
  src: url("../font/vagrundschriftd-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/vagrundschriftd-lig-webfont.woff") format("woff"), url("../font/vagrundschriftd-lig-webfont.ttf") format("truetype"), url("../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 9, ../sass/base.sass */
h1,
h2,
h3 {
  font-family: vagrundschriftdligregular; }

/* line 14, ../sass/base.sass */
h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 30px; }

/* line 19, ../sass/base.sass */
h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px; }

/* line 24, ../sass/base.sass */
h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px; }

/* line 29, ../sass/base.sass */
p,
ul,
ol,
th,
td,
legend {
  color: #666666;
  font-size: 14px;
  line-height: 25px; }
  /* line 39, ../sass/base.sass */
  p p,
  p ul,
  p ol,
  p th,
  p td,
  p legend,
  ul p,
  ul ul,
  ul ol,
  ul th,
  ul td,
  ul legend,
  ol p,
  ol ul,
  ol ol,
  ol th,
  ol td,
  ol legend,
  th p,
  th ul,
  th ol,
  th th,
  th td,
  th legend,
  td p,
  td ul,
  td ol,
  td th,
  td td,
  td legend,
  legend p,
  legend ul,
  legend ol,
  legend th,
  legend td,
  legend legend {
    font-size: 1em; }

/* line 47, ../sass/base.sass */
p,
ul,
ol {
  margin-bottom: 25px; }
  /* line 52, ../sass/base.sass */
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0; }

/* line 56, ../sass/base.sass */
.content h1,
.content h2,
.content h3 {
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: black;
  padding: 0; }
  /* line 64, ../sass/base.sass */
  .content h1 a,
  .content h2 a,
  .content h3 a {
    color: black; }
/* line 67, ../sass/base.sass */
.content h1 {
  font-size: 24px;
  line-height: 30px; }
/* line 71, ../sass/base.sass */
.content h2 {
  font-size: 20px;
  line-height: 25px; }
/* line 75, ../sass/base.sass */
.content h3 {
  font-size: 18px;
  line-height: 25px; }
/* line 79, ../sass/base.sass */
.content li {
  line-height: 25px; }

/* line 1, ../sass/forms.sass */
.form-horizontal .control-label {
  margin-left: 14px;
  text-align: left;
  width: 186px; }

/* line 6, ../sass/forms.sass */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding-bottom: 6px;
  padding-top: 6px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s; }

/* line 28, ../sass/forms.sass */
.radio-group,
.checkbox-group {
  margin-bottom: 18px; }
  /* line 32, ../sass/forms.sass */
  .radio-group legend,
  .checkbox-group legend {
    border: none;
    float: left;
    font-size: inherit;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 14px;
    padding: 5px 0 0 0;
    text-align: left;
    width: 186px; }
  /* line 43, ../sass/forms.sass */
  .radio-group .controls,
  .checkbox-group .controls {
    margin-left: 220px; }
  /* line 46, ../sass/forms.sass */
  .radio-group label,
  .checkbox-group label {
    display: block;
    line-height: 18px;
    padding: 5px 0 0 0; }
    /* line 51, ../sass/forms.sass */
    .radio-group label input,
    .checkbox-group label input {
      margin-right: 2px;
      position: relative;
      top: -2px; }
  /* line 56, ../sass/forms.sass */
  .radio-group.inline label,
  .checkbox-group.inline label {
    display: inline-block;
    margin-right: 10px; }

/* line 61, ../sass/forms.sass */
.btn {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
  background-size: 100% 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  margin-left: 7px;
  overflow: hidden;
  padding: 8px 13px 9px;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  /* line 71, ../sass/forms.sass */
  .btn:hover, .btn:focus {
    background-color: #f3f3f3;
    background-position: 0 0;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }

/* line 77, ../sass/forms.sass */
.btn-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(104, 198, 222, 0)), color-stop(100%, rgba(104, 198, 222, 0.1))), #68c6de;
  background: -webkit-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.1)), #68c6de;
  background: -moz-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.1)), #68c6de;
  background: -o-linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.1)), #68c6de;
  background: linear-gradient(top, rgba(104, 198, 222, 0), rgba(104, 198, 222, 0.1)), #68c6de;
  border-color: #7db4c1 #4d97ab #408aa3 #4d97ab;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  /* line 82, ../sass/forms.sass */
  .btn-primary:hover, .btn-primary:focus {
    background-color: #60bfda;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }

/* line 87, ../sass/forms.sass */
.btn-primary-alt {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(239, 153, 0, 0)), color-stop(100%, rgba(155, 100, 3, 0.2))), #ef9900;
  background: -webkit-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -moz-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: -o-linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  background: linear-gradient(top, rgba(239, 153, 0, 0), rgba(155, 100, 3, 0.2)), #ef9900;
  border-color: #cb9a40 #b66600 #b55e00 #b66600; }
  /* line 91, ../sass/forms.sass */
  .btn-primary-alt:hover, .btn-primary-alt:focus {
    background-color: #e08f01;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }

/* line 96, ../sass/forms.sass */
.btn-group {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-left: -9px !important;
  margin-right: 0 !important; }
  /* line 101, ../sass/forms.sass */
  .btn-group.btn-group-first {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 7px !important; }
  /* line 105, ../sass/forms.sass */
  .btn-group.btn-group-last {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px; }

/* line 108, ../sass/forms.sass */
.btn-small {
  font-size: 14px;
  padding: 4px 13px 5px; }

/* line 1, ../sass/header.sass */
.header {
  background: white url(../images/bg-header.png) no-repeat 50% 100%;
  height: 36px;
  min-height: 0;
  overflow: hidden;
  padding: 19px 37px; }
  /* line 8, ../sass/header.sass */
  .header a {
    height: auto;
    left: auto;
    position: static;
    top: auto;
    width: auto; }
  /* line 15, ../sass/header.sass */
  .header .logo {
    float: left;
    margin: -15px;
    padding: 15px; }
    /* line 20, ../sass/header.sass */
    .header .logo:focus {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      outline: 1px dashed #cccccc; }
  /* line 24, ../sass/header.sass */
  .header nav {
    float: right;
    width: auto; }
    /* line 28, ../sass/header.sass */
    .header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto; }
    /* line 34, ../sass/header.sass */
    .header nav li {
      border-left: 1px solid #e5e5e5;
      color: #626262;
      float: left;
      font-size: 14px;
      font-weight: 300;
      height: 26px;
      line-height: 26px;
      padding: 5px 20px;
      width: auto; }
      /* line 45, ../sass/header.sass */
      .header nav li:first-child {
        border-left: none; }
    /* line 48, ../sass/header.sass */
    .header nav a {
      color: #626262;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
      /* line 52, ../sass/header.sass */
      .header nav a:hover, .header nav a:focus {
        color: #333333;
        -webkit-transition: color 0.2s;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        transition: color 0.2s; }
    /* line 57, ../sass/header.sass */
    .header nav .user a {
      color: #52b2d2;
      text-decoration: underline; }
      /* line 61, ../sass/header.sass */
      .header nav .user a:hover, .header nav .user a:focus {
        color: #626262; }
    /* line 65, ../sass/header.sass */
    .header nav .configuration::before,
    .header nav .logout::before {
      color: #7e7e7e;
      font-family: FontAwesome;
      margin-right: 10px; }
    /* line 71, ../sass/header.sass */
    .header nav .configuration::before {
      content: "\f013"; }
    /* line 74, ../sass/header.sass */
    .header nav .logout::before {
      content: "\f045"; }

/* line 1, ../sass/menu.sass */
.secondary-menu {
  margin: 1em 2%;
  max-width: 175px;
  width: 20%; }
  /* line 6, ../sass/menu.sass */
  .secondary-menu ul {
    margin: 0;
    list-style: none; }
  /* line 10, ../sass/menu.sass */
  .secondary-menu > ul > li {
    margin: 0 0 17px 0;
    padding: 0;
    position: relative; }
    /* line 15, ../sass/menu.sass */
    .secondary-menu > ul > li::before {
      background: url(../images/sprite-secondary-menu.png);
      background-position: -30px 0;
      content: "";
      height: 30px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 30px; }
    /* line 26, ../sass/menu.sass */
    .secondary-menu > ul > li:hover::before, .secondary-menu > ul > li:focus::before, .secondary-menu > ul > li.active::before {
      background-position: 0 0; }
    /* line 32, ../sass/menu.sass */
    .secondary-menu > ul > li.groups::before {
      background-position: -30px -30px; }
    /* line 34, ../sass/menu.sass */
    .secondary-menu > ul > li.groups:hover::before, .secondary-menu > ul > li.groups:focus::before, .secondary-menu > ul > li.groups.active::before {
      background-position: 0 -30px; }
    /* line 40, ../sass/menu.sass */
    .secondary-menu > ul > li.requests::before {
      background-position: -30px -60px; }
    /* line 42, ../sass/menu.sass */
    .secondary-menu > ul > li.requests:hover::before, .secondary-menu > ul > li.requests:focus::before, .secondary-menu > ul > li.requests.active::before {
      background-position: 0 -60px; }
    /* line 48, ../sass/menu.sass */
    .secondary-menu > ul > li.stats::before {
      background-position: -30px -90px; }
    /* line 50, ../sass/menu.sass */
    .secondary-menu > ul > li.stats:hover::before, .secondary-menu > ul > li.stats:focus::before, .secondary-menu > ul > li.stats.active::before {
      background-position: 0 -90px; }
    /* line 56, ../sass/menu.sass */
    .secondary-menu > ul > li.profile::before {
      background-position: -30px -120px; }
    /* line 58, ../sass/menu.sass */
    .secondary-menu > ul > li.profile:hover::before, .secondary-menu > ul > li.profile:focus::before, .secondary-menu > ul > li.profile.active::before {
      background-position: 0 -120px; }
  /* line 63, ../sass/menu.sass */
  .secondary-menu a {
    color: #7f7f7f;
    display: block;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.06em;
    padding: 4px 0 4px 40px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    /* line 72, ../sass/menu.sass */
    .secondary-menu a:hover, .secondary-menu a:focus {
      color: #0173bc;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
  /* line 77, ../sass/menu.sass */
  .secondary-menu .active > a {
    color: #0173bc; }
  /* line 80, ../sass/menu.sass */
  .secondary-menu li {
    line-height: 18px; }
  /* line 84, ../sass/menu.sass */
  .secondary-menu ul ul li {
    padding: 0; }
  /* line 87, ../sass/menu.sass */
  .secondary-menu ul ul a {
    color: #626262;
    font-size: 14px;
    padding: 4px 0 0 40px; }

/* line 1, ../sass/tables.sass */
.table,
.table-bordered,
.table-striped {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color: #e1e1e1; }
  /* line 9, ../sass/tables.sass */
  .table th,
  .table-bordered th,
  .table-striped th {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2)), white;
    background: -webkit-linear-gradient(top, #ffffff, #f2f2f2), white;
    background: -moz-linear-gradient(top, #ffffff, #f2f2f2), white;
    background: -o-linear-gradient(top, #ffffff, #f2f2f2), white;
    background: linear-gradient(top, #ffffff, #f2f2f2), white;
    border-bottom-color: #e1e1e1;
    border-left: none;
    border-right: none;
    color: #666666;
    font-size: 12px;
    font-weight: normal; }
    /* line 18, ../sass/tables.sass */
    .table th a,
    .table-bordered th a,
    .table-striped th a {
      color: #666666; }
  /* line 21, ../sass/tables.sass */
  .table td,
  .table-bordered td,
  .table-striped td {
    background: white;
    border-bottom-color: #e1e1e1;
    border-left: none;
    border-right: none;
    color: black;
    padding: 20px 8px; }
  /* line 29, ../sass/tables.sass */
  .table tr:nth-child(even) td,
  .table-bordered tr:nth-child(even) td,
  .table-striped tr:nth-child(even) td {
    background: #f8f8f8 !important; }

/* line 1, ../sass/pagination.sass */
.pagination {
  background: transparent;
  border: none;
  margin: 1em 0; }
  /* line 7, ../sass/pagination.sass */
  .pagination ul li a {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background-size: 100% 100%;
    border: 1px solid lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-left: 7px;
    overflow: hidden;
    padding: 5px 8px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    /* line 22, ../sass/pagination.sass */
    .pagination ul li a:hover, .pagination ul li a:focus {
      background-color: #f3f3f3;
      background-position: 0 0;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      transition: background-color 0.2s; }
  /* line 28, ../sass/pagination.sass */
  .pagination ul li.active a {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67c6dd), color-stop(100%, #53b3d3)), #67c6dd;
    background: -webkit-linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    background: -moz-linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    background: -o-linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    background: linear-gradient(top, #67c6dd, #53b3d3), #67c6dd;
    border-color: #4993a8;
    color: white; }
  /* line 33, ../sass/pagination.sass */
  .pagination ul li.active a, .pagination ul li.disabled {
    pointer-events: none; }
  /* line 37, ../sass/pagination.sass */
  .pagination ul li:first-child a, .pagination ul li:last-child a {
    background-size: 15px 8px, 100% 100%;
    border: 1px solid lightgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #666666;
    display: block;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-left: 7px;
    overflow: hidden;
    padding: 5px 8px;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  /* line 52, ../sass/pagination.sass */
  .pagination ul li:first-child a {
    background: url(../images/bg-pagination-prev.png) no-repeat 0 50%, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
    background: url(../images/bg-pagination-prev.png) no-repeat 0 50%, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: url(../images/bg-pagination-prev.png) no-repeat 0 50%, -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: url(../images/bg-pagination-prev.png) no-repeat 0 50%, -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: url(../images/bg-pagination-prev.png) no-repeat 0 50%, linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    padding-left: 23px; }
    /* line 56, ../sass/pagination.sass */
    .pagination ul li:first-child a:hover {
      background-color: #f3f3f3; }
  /* line 59, ../sass/pagination.sass */
  .pagination ul li:last-child a {
    background: url(../images/bg-pagination-next.png) no-repeat 100% 50%, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(170, 170, 170, 0.3))), white;
    background: url(../images/bg-pagination-next.png) no-repeat 100% 50%, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: url(../images/bg-pagination-next.png) no-repeat 100% 50%, -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: url(../images/bg-pagination-next.png) no-repeat 100% 50%, -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    background: url(../images/bg-pagination-next.png) no-repeat 100% 50%, linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(170, 170, 170, 0.3)), white;
    padding-right: 23px; }
    /* line 63, ../sass/pagination.sass */
    .pagination ul li:last-child a:hover {
      background-color: #f3f3f3; }
  /* line 66, ../sass/pagination.sass */
  .pagination ul li.disabled a {
    background-color: #eeeeee; }
