@font-face
  font-family: 'vagrundschriftdligregular'
  src: url('../font/vagrundschriftd-lig-webfont.eot')
  src: url('../font/vagrundschriftd-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../font/vagrundschriftd-lig-webfont.woff') format('woff'), url('../font/vagrundschriftd-lig-webfont.ttf') format('truetype'), url('../font/vagrundschriftd-lig-webfont.svg#vagrundschriftdligregular') format('svg')
  font-weight: normal
  font-style: normal

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important

h1,
h2,
h3
  font-family: 'VAG Rundschrift D Light', vagrundschriftdligregular, 'Helvetica Neue', Helvetiva, Arial, sans-serif
  font-smooth: always

h1
  font-size: 24px
  font-weight: normal
  line-height: 30px

h2
  font-size: 20px
  font-weight: normal
  line-height: 25px

h3
  font-size: 18px
  font-weight: normal
  line-height: 25px

p,
ul,
ol,
th,
td,
legend
  color: #666
  font-size: 14px
  line-height: 25px

  p,
  ul,
  ol,
  th,
  td,
  legend
    font-size: 1em

p,
ul,
ol
  margin-bottom: 25px

  &:last-child
    margin-bottom: 0

.content
  h1,
  h2,
  h3
    background: transparent
    +border-radius(0)
    color: #000
    padding: 0

    a
      color: #000

  h1
    font-size: 24px
    line-height: 30px

  h2
    font-size: 20px
    line-height: 25px

  h3
    font-size: 18px
    line-height: 25px

  li
    line-height: 25px

.wrapper
  width: 100%

  nav.secondary-menu
    margin-left: 37px

  .content-holder
    > section
      background: transparent
      margin-right: 37px

    .content
      padding: 0

  section
    h1,
    h2
      background: transparent
      color: #000
      padding: 0

    h1
      font-size: 24px
      font-weight: normal
      line-height: 30px
      margin: 0 0 0.2em

    h2
      font-size: 20px
      font-weight: normal
      line-height: 25px
      margin: 0 0 0.2em

    h3
      font-size: 18px
      font-weight: normal
      line-height: 25px

footer
  background: transparent
  color: #999
  font-size: 0.9em
  margin: 2em 0
  text-align: center

  a
    color: #999
    +transition(color, 0.3s)

    &:hover,
    &:focus
      color: #070707
      +transition(color, 0.3s)