.header
  background: #FFF url(../images/bg-header.png) no-repeat 50% 100%
  +box-sizing(border-box)
  clear: both
  float: left
  min-height: 0
  padding: 19px 17px 19px 37px
  width: 100%

  a
    height: auto
    left: auto
    position: static
    top: auto
    width: auto

  .logo
    float: left
    margin: -15px
    padding: 15px

    &:focus
      +border-radius(5px)
      outline: 1px dashed #CCC

  nav
    float: right
    width: auto

    ul
      list-style: none
      margin: 0
      padding: 0
      width: auto

    li
      border-left: 1px solid #E5E5E5
      color: #626262
      float: left
      font-size: 14px
      font-weight: 300
      height: 26px
      line-height: 26px
      padding: 5px 20px
      width: auto

      &:first-child
        border-left: none

    a
      color: #626262
      +single-transition(color, 0.2s)

      &:hover,
      &:focus
        color: #333
        +single-transition(color, 0.2s)

    .user a
      color: #52B2D2
      text-decoration: underline

      &:hover,
      &:focus
        color: #626262

    .configuration:before,
    .logout:before
      color: #7E7E7E
      font-family: FontAwesome
      margin-right: 10px

    .configuration:before
      content: '\f013'

    .logout:before
      content: '\f045'

    .networks
      position: relative
      width: 200px

      ul
        +filter-gradient(#EEE, #DDD)
        background: #EEE
        +background(linear-gradient(top, #EEE, #DDD), #FFF)
        border: 1px solid #DDD
        +border-radius(4px)
        left: 20px
        position: absolute
        top: -4px
        right: 20px
        z-index: 20000

        li
          border-left: none
          display: none
          float: none
          height: auto
          line-height: 26px
          padding: 2px
          margin-bottom: 0
          width: auto

          a
            display: block
            padding: 5px 20px 6px 35px

          &.active
            display: block

            a
              color: #52B2D2

          &.level-user a
            background: url(../images/icons-users.png) no-repeat 2px -72px

          &.level-admin a
            background: url(../images/icons-users.png) no-repeat 2px 2px

        &:hover
          li
            display: block

  .condensed &
    .menu-trigger
      +filter-gradient(#6DC5E1, #56A3B7)
      background: #68C6DE
      +background(linear-gradient(top, rgba(104, 198, 222, 0), rgba(86,163,183, 0.75)), #68C6DE)
      border-color: #7DB4C1 #4D97AB #408AA3 #4D97AB
      +border-radius(3px)
      color: #FFF
      font-size: 16px
      margin-left: 7px
      overflow: hidden
      padding: 8px 13px 9px
      position: absolute !important
      right: 19px
      top: 17px
      +transition(background-color 0.2s, color 0.2s)
      zoom: 1

      &:hover
        +filter-gradient(#56A3B7, #56A3B7)
        background-color: #56A3B7
        color: #FFF
        +transition(background-color 0.2s, color 0.2s)

    .menu-respond-holder
      margin: 0
      overflow: hidden
      padding: 1em 0 0
      width: 100%

@media (max-width: 767px)
  .header
    float: none
    margin: 0 -20px
    overflow: hidden
    width: auto

    nav
      width: 100%

      li
        border-left: none
        float: none
        height: auto
        padding: 5px 0

      .networks
        ul
          position: static

          li
            display: block